/**********************************/
/********** General CSS ***********/
/**********************************/
body {
    color: #000000;
    background: #F6D155;
    font-family: 'Open Sans', italic;
    font-size: 20px;
}

    
header h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #333;
    background: url(../image/Untitled-2.jpg);
    width: -webkit-fill-available;
    height: 185px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    color: #222222;
    transition: all .3s;
}

a:hover,
a:active,
a:focus {
    color: #FF6F61;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

/* CVE link section styles */
.cve-link a {
    display: inline-block;
    text-align: -webkit-left;
    font-size: 1.2em;
    margin: 2px 130px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
}

.cve-link a:hover {
    text-decoration: underline;
}

.animated-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.animated-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/**********************************/
/****** Layout with Sidebar *******/
/**********************************/
.wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
}

.wrapper .sidebar {
    position: relative;
    width: 100%;
    float: left;
    background: #222222;
}

.wrapper .content {
    position: relative;
    width: 100%;
    padding: 15px;
    float: left;
    background: #F6D155;
}

.wrapper .sidebar-header,
.wrapper .sidebar-footer {
    display: none;
}

.navbar {
    padding: 15px;
    background: #222222 !important;
}

.navbar-expand-md .navbar-nav .nav-item {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, .2);
}

.navbar-expand-md .navbar-nav .nav-item:first-child{
    border-top: none;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: #ffffff;
    padding: 5px 15px 7px 15px;
    transition: all .3s;
}

.navbar-expand-md .navbar-nav .nav-link i {
    color: #FF6F61;
    float: right;
    padding-top: 5px;
    transition: all .3s;
}

.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link.active {
    color: #FF6F61;
}

.navbar-expand-md .navbar-nav .nav-link:hover i,
.navbar-expand-md .navbar-nav .nav-link.active i{
    color: #ffffff;
}


.wrapper .sidebar,
.wrapper .content {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

@media (min-width: 768px) {
    .wrapper .content {
        padding: 30px 0px 30px 30px;
    }
    
    .wrapper .content::before,
    .wrapper .content::after {
        position: fixed;
        content: "";
        width: 100%;
        height: 30px;
        background: #F6D155;
        z-index: 1;
    }
    
    .wrapper .content::before {
        top: 0;
    }
    
    .wrapper .content::after {
        bottom: 0;
    }
    
    .wrapper .sidebar {
        position: fixed;
        width: 300px;
        height: 100%;
        margin-left: -250px;
        float: left;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: gray;
        z-index: 2;
    }

    .wrapper .sidebar:hover {
        margin-left: 0px;
    }
    
    .wrapper .content {
        position: relative;
        width: calc(100% - 50px);
        margin-left: 50px;
        float: right;
    }
    
    .wrapper .sidebar:hover  .sidebar-header {
        position: relative;
        display: block;
        width: 100%;
    }

    .wrapper .sidebar .sidebar-header img {
        width: 100%;
        height: auto;
    }
    
    .navbar-brand {
        display: none;
    }
    
    .navbar {
        padding: 15px 0;
        flex-direction: column;
    }
    
    .wrapper .sidebar:hover .navbar-expand-md .navbar-nav .nav-link {
        padding: 5px 30px 7px 30px;
    }
    
    .wrapper .sidebar::-webkit-scrollbar {
        width: 7px;
    }

    .wrapper .sidebar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    }

    .wrapper .sidebar::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        border-radius: 7px
    }
    
    .navbar-brand {
        display: none;
    }
    
    .sidebar .sidebar-footer {
        width: 300px;
        position: fixed;
        bottom: 0;
        padding: 15px;
        font-size: 0;
        text-align: center;
        background: #222222;
    }
    
    .sidebar .sidebar-footer a {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 5px 0;
        margin: 0 15px 15px 0;
        text-align: center;
        font-size: 18px;
        color: #222222;
        background: #FF6F61;
    }
    
    .sidebar .sidebar-footer a:last-child {
        margin-right: 0;
    }
    
    .sidebar .sidebar-footer a:hover {
        color: #FF6F61;
        background: #ffffff;
    }
    
    .sidebar:hover .sidebar-footer {
        display: block;
    }
}

/* RSS feed section styles */
.rss-feed iframe {
    width: 100%;
    height: 400px;
    border: none;
}

@media (min-width: 992px) {
    .wrapper .sidebar {
        margin: 0;
    }

    .wrapper .content {
        width: calc(100% - 300px);
        margin-left: 300px;
    }

    .sidebar .sidebar-header {
        position: relative;
        display: block;
        width: 100%;
    }
    
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 5px 30px 7px 30px;
    }
    
    .sidebar .sidebar-footer {
        display: block;
    }
}

@media (max-width: 1140px) {
    .wrapper .content {
        padding: 30px;
    }
}

@media (max-width: 576px) {
    .wrapper .content {
        padding: 15px;
    }
}





/**********************************/
/*********** Footer CSS ***********/
/**********************************/
.footer {
    position: relative;
    width: 100%;
    padding: 30px 30px 0 30px;
    background: #F6D155;
}

.footer .col-md-6:last-child {
    text-align: right;
}

footer {
    max-width: 100%;
    padding: 5px;
}

@media(max-width: 767.98px) {
    .footer .col-md-6,
    .footer .col-md-6:last-child{
        text-align: center;
    }
}

.footer p {
    color: #222222;
    margin: 0;
}

.footer a {
    color: #FF6F61;
    font-weight: 600;
}

.footer a:hover {
    color: #222222;
}

img {
    margin-top: 50px;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

/* Adjustments for 768px */
@media (max-width: 768px) {
    .wrapper .content {
        padding: 30px;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 10px 15px; /* Adjust padding */
    }
}

/* Adjustments for 480px */
@media (max-width: 480px) {
    body {
        font-size: 16px; /* Adjust font size */
        padding: 10px; /* Adjust padding */
    }
    .wrapper .content {
        padding: 15px;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 5px 10px; /* Adjust padding */
    }
    .wrapper .sidebar {
        position: static;
        height: auto;
        margin: 0;
    }
    .wrapper .content {
        width: 100%;
        margin-left: 0;
    }
    .wrapper .sidebar .sidebar-header {
        position: relative;
        display: block;
        width: 100%;
    }
    .navbar-brand {
        display: inline-block;
    }
    .navbar {
        padding: 15px;
        flex-direction: row;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 5px 15px; /* Adjust padding */
    }
    footer {
        max-width: 100%;
        padding: 5px;
    }
}
